body{
    background: linear-gradient( #f55d42, #f5ad42);
    color: beige;
    font-family: 'oswald' , sans-serif;
}
.header_div {
 background-color: white;
 color: crimson;
}
.header_div p {
    font-family: "Kdam Thmor Pro", sans-serif;
    color: grey;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.main_div button {
    font-family: Impact;
    margin-top: 30px;
    width: 130px;
    letter-spacing: 4px;
}
.copy_right_footer
{
    position: fixed;
    color: #6c757d;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: #f5f5f5;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151, 149, 149);
}